body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  padding: 10px 10px;
  font-size: 11px;
  border-radius: 8px;
}

.legend-title {
  margin: 0 0 7px 0;
}

.squares {
  height: 16px;
  width: 16px;
  margin: 0 7px 0 0;
}