body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  padding: 10px 10px;
  font-size: 11px;
  border-radius: 8px;
}

.legend-title {
  margin: 0 0 7px 0;
}

.squares {
  margin: 0;
  line-height: 0.8;
}

.square {
  height: 20px;
  width: 20px;
  margin: 0 10px 0 0;
}

.zero {
  background-color: #b7f34e;
}

.one {
  background-color: #e1f34c;
}

.two {
  background-color: #f3db4c;
}

.three {
  background-color: #f3ba4e;
}

.four {
  background-color: #f0a76c;
}

.five {
  background-color: #f16b6b;
}